@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
 */
 :root {
    --light-grey: #3c3c44;
    --transprent-light: rgba(156, 175, 249, 0.575);
    --transprent:  rgba(53, 56, 53, 0.35);
    --white: #ffff;
    --grey: #fe2626;
    --red-transprent: rgba(255, 0, 0, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
h1{
    text-align: center;
}
body{
    background: whitesmoke;
    padding: 1rem 5rem;
    padding-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg,rgba(183, 204, 248, 0.717),rgba(7, 43, 127, 0.679)), url('./background1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 80px;
    border-radius: 50px;
    background-color: var(--transprent-light);
}
.header h1{
    color: rgb(214, 147, 45);
    text-decoration: underline;
    font-family: 'Orbitron', sans-serif;
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: cadetblue;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.weather{
   margin-top: 50px;
    text-align: center;
    color: aliceblue;
}
#city{
    margin-top: 40px;
    font-size: 40px;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(153, 205, 50, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
}
.divider1v{
    visibility: hidden;
    
} 
main{
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    /* margin: 0 50px; */
    color: white;
    background-color: var(--transprent);
    padding: 30px;
    border-radius: 50px;
}
.forecstH{
    /* margin-top: 40px; */
    padding: 10px;
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 50px 50px;
    color: aliceblue;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.cast-header{
    color: aliceblue;
    background: rgba(254, 189, 132, 0.539);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 35px;
}
.divider1,.divider2,.divider1v{
    background: rgba(254, 189, 132, 0.539);
    height: 200px;
    border-radius: 5px;
}
.divider2{
    height: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.time,.date,.name1,.name2{
    color: rgb(254, 189, 132);
}
.name{
    margin-bottom: 10px;
}
.desc{
    color: rgb(196, 255, 77);
}

.forecstM{
    margin: 20px 50px;
    color: aliceblue;
}
.More{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 50px 0px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn i {
    font-size: 2rem;
    margin-top: 10px;
    
    color: var(--white);
}
#imgf{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(241, 245, 248, 0.408);
}


footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    margin-left: -5rem;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  /* margin-bottom: 20px; */
}
}
@media only screen  and (max-width: 900px) {
    .More{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3,1fr);
        row-gap: 15px;
        column-gap: 7px;
    }
    .weekF{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 15px;
        column-gap: 15px;
    }
    #temperature{
        font-size: 35px;
        font-weight: bold;
    }
    #imgf{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(241, 245, 248, 0.408);
    }
}

@media only screen  and (max-width: 768px) {
    body{
        padding: 1rem 1rem;
        padding-bottom: 0px;
    }
    .header{
        flex-direction: column;
        justify-content:baseline;
        align-items: center;
        margin-bottom: 30px;
        padding: 20px 20px;
        border-radius: 50px;
    }
    .header div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10px;
    }
    .header div #search{
        grid-column: 2/2;
        margin-left: 180px;
        margin-top: 5px;
    }
    main{
        display: grid;
        grid-column-gap: 25px;
        grid-template-columns: 1fr 5px ;
        align-items: center;
        margin: 0 5px;
        color: white;
        background-color: var(--transprent);
        padding: 30px;
        border-radius: 50px;
    }
    .divider1{
        visibility: hidden;
    }
    #temperature{
        font-size: 35px;
        font-weight: bold;
    }
    .divider1v{
        visibility: visible;
        height: 5px;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    } 
    .forecstH{
        margin-top: 20px;
        
    }
    .More{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3,1fr);
        row-gap: 15px;
        column-gap: 7px;
    }
    .divider2{
        
        width: 100%;
     
    }
    .weekF{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 15px;
        column-gap: 15px;
    }
    .dayF .tempf{
        font-size: 15px;
    }
    .time,.date,.name2{
        /* color: rgb(254, 189, 132); */
        font-size: 18px;
        /* font-weight: bold; */
    }
    .n1val{
        font-size: 15px;
    }
    #imgf{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(241, 245, 248, 0.408);
    }
    footer{
        
        margin-left: -1rem;
    
       
    }
   }
